:root {
  --white: rgb(193, 193, 193);
  --gold: rgb(254, 195, 10);
  --black: rgb(0,0,0);
  --dark-placeholder: rgb(59, 59, 59);
  --dark-background: rgb(18, 18, 18);
}

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-family: sans-serif;
}

.App {
  background-color: black;
  color: var(--white);
  display: flex;
  flex-direction: column;
  flex: 1;
}

.primary-nav {
  padding: 1rem;
  display: flex;
  justify-content: flex-end;
}

.nav-link {
  margin: 0 .5rem;
  color: var(--white);
  text-decoration: none;
}

.nav-link:hover {
  cursor: pointer;
}

.primary-content {
  flex: 1;
  padding: 1rem;
  display: flex;
  flex-direction: column;
}

.page-title {
  color: var(--gold);
  margin-top: 2rem;
}

.nav-link.active {
  color: var(--gold);
}

.form {
  display: flex;
  flex-direction: column;
}

.image-container {
  max-height: 120px;
  width: auto;
  filter: grayscale(100%);
}

.small-image {
  max-height: 80px;
  display: none;
}

.image-wrapper {
  margin: 1rem auto;
  display: flex;
  justify-content: center;
}

.small-image-wrapper {
  margin: 1rem auto;
  display: flex;
  justify-content: center;
  display: none;
}

.login-form {
  min-width: 250px;
  margin: 1rem auto;
}

.dark-input {
  padding: .5rem;
  background-color: var(--black);
  border: none;
  border-bottom: 1px solid var(--white);
  color: var(--white);
  font-size: 1rem;
  margin: 1rem 0;
}

.dark-input:focus, .text-area-input:focus {
  outline: none;
}

.dark-input::placeholder {
  color: var(--dark-placeholder)
}

.dark-input:focus {
  border-bottom: 1px solid var(--gold);
}

.form-button.login, .form-button.register {
  border: 1px solid var(--white);
  background-color: var(--black);
  color: var(--white);
  padding: .5rem;
  min-width: 105px;
  transition-duration: .3s;
  margin: 0 1rem;
}

.form-button:hover {
  cursor: pointer;
  background-color: var(--gold);
  color: var(--black);
  transform: scale(1.1);
  transition-duration: .3s;
  border: 1px solid var(--black);
}

.link-container {
  min-width: 250px;
  margin: 3rem 0rem;
  display: flex;
  justify-content: space-between;
  font-weight: bold;
}

.sections-container {
  margin: 1rem 0rem 0rem 0rem;
}

.section-container {
  margin: 4rem auto;
  max-width: 350px;
}

.section-title {
  border-bottom: 1px solid var(--white);
  padding-bottom: .5rem;
  margin-bottom: .5rem;
}

.text-link {
  color: var(--white);
  text-decoration: none;
}

.text-link:hover {
  color: var(--gold);
}

.info-container > div {
  padding: .5rem 0;
}

.info-title {
  color: var(--gold);
}

.login-page {
  padding: 7vh 1rem 1rem 1rem;
  align-items: center;
}

.dark-input.with-label {
  margin-top: 0rem;
}

.form-label {
  margin-top: 3rem;
}

::-webkit-calendar-picker-indicator {
  filter: invert(.9);
}

::-webkit-calendar-picker-indicator:hover {
  cursor: pointer;
} 

.checkbox-input-container {
  margin: 1rem 0;
  font-size: 1.1rem;
}

.checkbox-input-container > input {
  margin-right: .5rem;
}

.form-checkboxes-container {
  margin-top: 3rem;
  /* margin: 3rem auto auto auto; */
}

.comments-link {
  color: var(--white);
  text-decoration: none;
  font-style: italic;
  font-size: 1.2rem;
}

.comments-link:hover {
  color: var(--gold);
  text-decoration: underline;
}

.name-title {
  margin-bottom: 2rem;
}

.all-comments-container {
  padding: 3rem 0rem;
}

.comments-container {
  padding: 0rem 0rem 6rem 0rem; 
}

.text-area-input {
  padding: .5rem;
  font-family: sans-serif;
  background-color: rgb(15, 15, 15);
  color: var(--white);
  border: 1px solid var(--white);
  margin-top: 2rem;
  font-size: 1.1rem;
  max-width: 100%;
  min-width: 100%;
  min-height: 100px;
}

.text-area-input:focus {
  border: 1px solid var(--gold);
}

.edit-link {
  color: var(--gold);
  font-style: italic;
  text-decoration: none;
  padding-left: 1rem;
}

.edit-link:hover {
  color: var(--gold);
  text-decoration: underline;
}

.comment-container {
  padding: .4rem 0rem;
  margin-left: 1rem;
}

.no-comment {
  color: var(--dark-placeholder);
}

.form-button-container {
  display: flex;
  justify-content: center;
  padding-top: 3rem;
}

.flex-center-center {
  display: flex;
  align-items: center;
  align-content: center;
  justify-content: center;
  flex: 1;
}

.expandable-container {
  border: 1px solid black;
  padding: 10px;
  max-width: 500px;
  background-color: var(--dark-background);
  border-radius: 7px;
}

.top-section {
 display: flex;
 justify-content: space-between;
 align-items: center;
}

.expand-container {
 overflow: hidden;
}

.expand-contract {
 margin-top: -100%;
 transition: all .5s;
 padding: 1rem 0rem 0rem 0rem;
}

.expand-contract.expanded {
  margin-top: 0;
}

.assign-input {
  padding: .2rem;
  margin: .8rem .3rem;
  background-color: var(--dark-background);
  font-size: .8rem;
  border-radius: 0;
  -webkit-appearance: none;
}

.assign-form-button {
  border: 1px solid var(--white);
  background-color: var(--dark-background);
  color: var(--white);
  padding: .2rem;
  min-width: 60px;
  transition-duration: .3s;
  margin-left: .5rem;
  border-radius: 7px;
}

.assign-form-button:hover{ 
  cursor: pointer;
  background-color: var(--gold);
  color: var(--black);
  border: 1px solid var(--black);
}

.assign-form {
  display: flex;
  justify-content: space-between;
}

.assign-form-inputs-container {
  display: flex;
  flex-direction: column;
}

.assign-form-button-container {
  display: flex;
  justify-content: center;
  align-items: center;
}

button:disabled {
  border: 1px solid var(--dark-placeholder);
  color: var(--dark-placeholder);
}

button:disabled:hover {
    border: 1px solid var(--dark-placeholder);
    background-color: var(--black);
    color: var(--dark-placeholder);
    cursor: default;
}

.admin-section {
  margin: 2rem 0rem;
  width: 100%;
  border: 1px solid rgb(30, 30, 30);
  padding: 1rem;
  border-radius: 10px;
}

.admin-section-title {
  color: var(--gold);
  margin-bottom: 1rem;
}

.admin-team {
  margin: 1rem 0rem 2rem 0rem;
}

.admin-team-title {
  margin-bottom: .5rem;
}

.admin-sections-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

.none-assigned-text {
  color: var(--dark-placeholder);
  padding: .3rem;
}

.edit-button-container {
  margin-top: 2rem;
}

.fit-link {
  width: fit-content;
}

.icon-margin-left {
  margin-left: 1rem;
}

.icon-margin-right {
  margin-right: 1rem;
}

.inline {
  display: inline-block;
}

.user-container {
  background-color: rgb(17, 17, 17);
  margin: .3rem 0rem;
  padding: .5rem;
}

select.dark-input.dark-input.with-label{
  -webkit-appearance: none;
  border-radius: 0;  
}


@media only screen and (min-width: 350px) {
  .link-container {
    width: 300px;
  }

  .login-form {
    width: 300px;
  }
}

@media only screen and (min-width: 500px) {
  .title-link-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }

  .comments-link {
    margin-right: 2rem;
  }

  .page-title {
    margin-left: 2rem;
  }

  .edit-button-container {
    margin-left: 2rem;
    margin-top: 0rem;
  }

  .user-form {
    width: 450px;
    align-self: center;
  }

  .assign-form-inputs-container {
    flex-direction: row;
  }

  .admin-section {
    margin: 2rem 1rem;
    width: 500px;
    padding: 2rem;
  }
}

@media only screen and (min-width: 600px) {
  .add-comment-form {
    width: 550px;
    align-self: center;
  }
}

@media only screen and (min-width: 800px) {
  .sections-row {
    display: flex;
    justify-content: center;
  }

  .section-container {
    width: 350px;
    margin: 4rem;
  }

  .section-title {
    color: var(--gold);
  }

  .page-title {
    margin-left: 3rem;
    margin-bottom: 2rem;
  }

  .edit-button-container {
    margin-left: 3rem;
  }

  .small-image {
    display: block;
    margin: auto;
  }

  .small-image-wrapper {
    display: block;
  }

  .comments-link {
    margin-right: 4rem;
  }

  .user-container {
    background-color: var(--black);
    margin: 0rem;
    padding: .2rem;
  }
}

@media only screen and (min-width: 1000px) {
  .all-comments-container {
    /* max-width: 1000px; */
    margin: 0 10vw;
  }
}