:root {
  --white: rgb(193, 193, 193);
  --gold: rgb(254, 195, 10);
  --black: rgb(0,0,0);
  --dark-placeholder: rgb(59, 59, 59);
}

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-family: sans-serif;
}

.App {
  background-color: black;
  color: var(--white);
  display: flex;
  flex-direction: column;
  flex: 1;
}

.primary-nav {
  padding: 1rem;
  display: flex;
  justify-content: flex-end;
}

.nav-link {
  margin: 0 .5rem;
  color: var(--white);
  text-decoration: none;
}

.nav-link:hover {
  cursor: pointer;
}

.primary-content {
  flex: 1;
  padding: 1rem;
}

.page-title {
  color: var(--gold);
  margin-top: 2rem;
}

.nav-link.active {
  color: var(--gold);
}

.form {
  display: flex;
  flex-direction: column;
}

/* .dark-input {
  margin: 1rem 0;
} */

.image-container {
  max-height: 120px;
  width: auto;
  filter: grayscale(100%);
}

.small-image {
  max-height: 80px;
  display: none;
}

.image-wrapper {
  margin: 1rem auto;
  display: flex;
  justify-content: center;
}

.small-image-wrapper {
  margin: 1rem auto;
  display: flex;
  justify-content: center;
  display: none;
}

.login-form {
  max-width: 400px;
  margin: 3rem auto;
}

.dark-input {
  padding: .5rem;
  background-color: var(--black);
  border: none;
  border-bottom: 1px solid var(--white);
  color: var(--white);
  font-size: 1rem;
  margin: 1rem 0;
}

.dark-input:focus, .text-area-input:focus {
  outline: none;
}

.dark-input::placeholder {
  color: var(--dark-placeholder)
}

.form-button.login, .form-button.register {
  border: 1px solid var(--white);
  background-color: var(--black);
  color: var(--white);
  padding: .5rem;
  min-width: 105px;
  transition-duration: .3s;
  margin: 0 1rem;
}

.form-button:hover {
  cursor: pointer;
  background-color: var(--gold);
  color: var(--black);
  transform: scale(1.1);
  transition-duration: .3s;
  border: 1px solid var(--black);
}

.link-container {
  max-width: 400px;
  margin: 3rem auto;
  display: flex;
  justify-content: space-between;
  font-weight: bold;
}

.sections-container {
  margin: 1rem 0rem 0rem 0rem;
}

.section-container {
  margin: 4rem auto;
  max-width: 350px;
}

.section-title {
  border-bottom: 1px solid var(--white);
  padding-bottom: .5rem;
  margin-bottom: .5rem;
}

.text-link {
  color: var(--white);
  text-decoration: none;
}

.text-link:hover {
  color: var(--gold);
}

.info-container > div {
  padding: .5rem 0;
}

.info-title {
  color: var(--gold);
}

.login-page {
  padding: 10vh 1rem 1rem 1rem;
}

.dark-input.with-label {
  margin-top: 0rem;
}

.form-label {
  margin-top: 3rem;
}

::-webkit-calendar-picker-indicator {
  filter: invert(.9);
}

::-webkit-calendar-picker-indicator:hover {
  cursor: pointer;
} 

.checkbox-input-container {
  margin: 1rem 0;
  font-size: 1.1rem;
}

.checkbox-input-container > input {
  margin-right: .5rem;
}

.form-checkboxes-container {
  margin-top: 3rem;
  /* margin: 3rem auto auto auto; */
}

.comments-link {
  color: var(--white);
  text-decoration: none;
  font-style: italic;
  font-size: 1.2rem;
}

.comments-link:hover {
  color: var(--gold);
  text-decoration: underline;
}

.name-title {
  margin-bottom: 2rem;
}

.all-comments-container {
  padding: 3rem 0rem;
}

.comments-container {
  padding: 0rem 0rem 6rem 0rem; 
}

.text-area-input {
  padding: .5rem;
  font-family: sans-serif;
  /* background-color: var(--black); */
  background-color: rgb(15, 15, 15);
  color: var(--white);
  border: 1px solid var(--white);
  margin-top: 2rem;
  font-size: 1.1rem;
  max-width: 100%;
  min-width: 100%;
  min-height: 100px;
}

.add-comment-form {
  max-width: 500px;
  margin: auto;
}

.edit-link {
  color: var(--gold);
  font-style: italic;
  text-decoration: none;
  padding-left: 1rem;
}

.edit-link:hover {
  color: var(--gold);
  text-decoration: underline;
}

.comment-container {
  padding: .4rem 0rem;
  margin-left: 1rem;
}

.no-comment {
  color: var(--dark-placeholder);
}

.form-button-container {
  display: flex;
  justify-content: center;
  padding-top: 3rem;
}


@media only screen and (min-width: 500px) {
  .title-link-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }

  .comments-link {
    margin-right: 2rem;
  }

  .page-title {
    margin-left: 2rem;
  }
}

@media only screen and (min-width: 800px) {
  .sections-row {
    display: flex;
    justify-content: center;
  }

  .section-container {
    width: 350px;
    margin: 4rem;
  }

  .section-title {
    color: var(--gold);
  }

  .page-title {
    margin-left: 3rem;
    margin-bottom: 2rem;
  }

  .small-image {
    display: block;
    margin: auto;
  }

  .small-image-wrapper {
    display: block;
  }

  .comments-link {
    margin-right: 4rem;
  }
}

@media only screen and (min-width: 1000px) {
  .all-comments-container {
    max-width: 1000px;
    margin: auto;
  }
}