:root {
  --white: rgb(193, 193, 193);
  --gold: rgb(254, 195, 10);
  --button-disabled: rgba(193, 193, 193, 0.5);
  --black: rgb(0,0,0);
  --dark-placeholder: rgb(59, 59, 59);
  --dark-background: rgb(18, 18, 18);
  --dark-linear-gradient: linear-gradient(90deg, rgb(30, 30, 30), rgb(21, 21, 21))
}

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-family: sans-serif;
}

a {
  text-decoration: none;
}

input {
  -webkit-appearance: none;
  -moz-appearance: none;
  border-radius: 0;
}

input[type=date] {
  width: 100%;
  text-align: left;
  -moz-appearance: none;
  -webkit-appearance: none;
}

input[type="number"]::-webkit-inner-spin-button {
    display: none;
}

input[type="date"]::-webkit-calendar-picker-indicator {
    opacity: 0;
}

input::-webkit-date-and-time-value { 
  text-align:left; 
}

.App {
  background-color: black;
  color: var(--white);
  display: flex;
  flex-direction: column;
  flex: 1;
}

.primary-nav {
  padding: 1rem;
  display: flex;
  justify-content: space-between;
  top: 0px;
  position: sticky;
  background-color: rgba(0, 0, 0, 0.637);
  border-bottom: 1px solid rgb(26, 26, 26);
  -webkit-backdrop-filter: blur(8px);
  backdrop-filter: blur(8px);
  z-index: 5;
  font-size: .8rem;
}

.nav-link {
  margin: 0 .5rem;
  color: var(--white);
  text-decoration: none;
}

.nav-link:hover {
  cursor: pointer;
  text-decoration: underline;
}

.primary-content {
  flex: 1;
  padding: 1rem 1rem 3rem 1rem;
  display: flex;
  flex-direction: column;
}

.page-title {
  color: var(--gold);
  margin-top: 2rem;
}

.nav-link.active {
  color: var(--gold);
}

.form {
  display: flex;
  flex-direction: column;
}

.image-container {
  max-height: 120px;
  width: auto;
  filter: grayscale(100%);
}

.small-image {
  max-height: 80px;
  display: none;
}

.image-wrapper {
  margin: 1rem auto;
  display: flex;
  justify-content: center;
}

.small-image-wrapper {
  margin: 1rem auto;
  display: flex;
  justify-content: center;
  display: none;
}

.login-form {
  min-width: 250px;
  margin: 1rem auto;
}

.dark-input {
  padding: .5rem;
  background-color: var(--black);
  border: none;
  border-bottom: 1px solid var(--white);
  color: var(--white);
  font-size: 1rem;
  margin: 1rem 0;
}

.dark-input:focus, .text-area-input:focus {
  outline: none;
}

.dark-input::placeholder {
  color: var(--dark-placeholder)
}

.dark-input:focus {
  border-bottom: 1px solid var(--gold);
}

.form-button.login, .form-button.register {
  border: 1px solid var(--white);
  background-color: var(--black);
  color: var(--white);
  padding: .5rem;
  min-width: 105px;
  transition-duration: .3s;
  margin: 0 1rem;
}

.form-button:hover {
  cursor: pointer;
  background-color: var(--gold);
  color: var(--black);
  transform: scale(1.1);
  transition-duration: .3s;
  border: 1px solid var(--black);
}

.form-button.login.disabled-button, .form-button.register.disabled-button {
  color: var(--button-disabled);
  border: 1px solid var(--button-disabled);
}

.form-button.login.disabled-button:hover, .form-button.register.disabled-button:hover  {
  cursor: default;
  transform: none;
}
.link-container {
  min-width: 250px;
  margin: 3rem 0rem;
  display: flex;
  justify-content: space-between;
  font-weight: bold;
}

.sections-container {
  margin: 1rem 0rem 0rem 0rem;
}

.section-container {
  margin: 4rem auto;
  max-width: 350px;
}

.section-title {
  border-bottom: 1px solid var(--white);
  padding-bottom: .5rem;
  margin-bottom: .5rem;
}

.text-link {
  color: var(--white);
  text-decoration: none;
}

.text-link:hover {
  color: var(--gold);
}

.info-container > div {
  padding: .5rem 0;
}

.info-title {
  color: var(--gold);
}

.login-page {
  padding: 7vh 1rem 1rem 1rem;
  align-items: center;
}

.dark-input.with-label {
  margin-top: 0rem;
}

.form-label {
  margin-top: 3rem;
}

::-webkit-calendar-picker-indicator {
  filter: invert(.9);
}

::-webkit-calendar-picker-indicator:hover {
  cursor: pointer;
} 

.checkbox-input-container {
  margin: 1rem 0;
  font-size: 1.1rem;
}

.checkbox-input-container > input {
  margin-right: .5rem;
}

.form-checkboxes-container {
  margin-top: 3rem;
}

.comments-link {
  color: var(--white);
  text-decoration: none;
  font-style: italic;
  font-size: 1.2rem;
}

.comments-link:hover {
  color: var(--gold);
  text-decoration: underline;
}

.name-title {
  margin-bottom: 2rem;
}

.all-comments-container {
  padding: 3rem 0rem 0rem 0rem;
}

.comments-container {
  padding: 0rem 0rem 6rem 0rem; 
}

.text-area-input {
  padding: .5rem;
  font-family: sans-serif;
  background-color: rgb(15, 15, 15);
  color: var(--white);
  border: 1px solid var(--white);
  margin-top: 2rem;
  font-size: 1.1rem;
  max-width: 100%;
  min-width: 100%;
  min-height: 100px;
}

.text-area-input:focus {
  border: 1px solid var(--gold);
}

.edit-link {
  color: var(--gold);
  font-style: italic;
  text-decoration: none;
  padding-left: 1rem;
}

.edit-link:hover {
  color: var(--gold);
  text-decoration: underline;
}

.comment-container {
  padding: .4rem 0rem;
  margin-left: 1rem;
}

.no-comment {
  color: var(--dark-placeholder);
}

.form-button-container {
  display: flex;
  justify-content: center;
  padding-top: 3rem;
  margin-bottom: 2rem;
}

.flex-center-center {
  display: flex;
  align-items: center;
  align-content: center;
  justify-content: center;
  flex: 1;
}

.expandable-container {
  padding: 10px;
  max-width: 500px;
  background-color: rgb(25, 25, 25);
  border-radius: 7px;
  margin: .4rem 0rem;
}

.top-section {
 display: flex;
 justify-content: space-between;
 align-items: center;
}

.expand-container {
 overflow: hidden;
}

.expand-contract {
 margin-top: -150px;
 transition: all 1s ease-in-out;
 padding: 1rem 0rem 0rem 0rem;
}

.expand-contract.expanded {
  margin-top: 0;
}

.assign-input {
  padding: .2rem;
  margin: .8rem .3rem;
  background-color: rgb(25, 25, 25);
  font-size: .8rem;
  border-radius: 0;
  -webkit-appearance: none;
}

.assign-form-button {
  border: 1px solid var(--white);
  background-color: var(--dark-background);
  color: var(--white);
  padding: .2rem;
  min-width: 60px;
  transition-duration: .3s;
  margin-left: .5rem;
  border-radius: 7px;
}

.assign-form-button.permissions {
  margin: .3rem .3rem;
}

.assign-form-button:hover{ 
  cursor: pointer;
  background-color: var(--gold);
  color: var(--black);
  border: 1px solid var(--black);
}

.assign-form {
  display: flex;
  justify-content: space-between;
}

.assign-form-inputs-container {
  display: flex;
  flex-direction: column;
}

.assign-form-inputs-container > .select-wrapper {
  min-width: 110px;
}

select:hover {
  cursor: pointer;
}

.assign-form-button-container {
  display: flex;
  justify-content: center;
  align-items: center;
}

button:disabled {
  border: 1px solid var(--dark-placeholder);
  color: var(--dark-placeholder);
}

button:disabled:hover {
    border: 1px solid var(--dark-placeholder);
    background-color: var(--black);
    color: var(--dark-placeholder);
    cursor: default;
}

.admin-section {
  margin: 2rem 0rem;
  width: 100%;
  padding: 1rem;
  border-radius: 10px;
  background-color: var(--dark-background);
  background: var(--dark-linear-gradient);
}

.admin-section-title {
  margin-bottom: 1rem;
  text-align: center;
}

.admin-team {
  margin: 1rem 0rem 2rem 0rem;
}

.admin-team-title {
  margin-bottom: .5rem;
  color: var(--gold);
}

.admin-sections-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-evenly;
}

.none-assigned-text {
  color: var(--dark-placeholder);
  padding: .3rem;
}

.edit-button-container {
  margin-top: 2rem;
}

.fit-link {
  width: fit-content;
}

.icon-margin-left {
  margin-left: 1rem;
}

.icon-margin-right {
  margin-right: 1rem;
}

.inline {
  display: inline-block;
}

.user-container {
  background-color: rgb(17, 17, 17);
  margin: .3rem 0rem;
  padding: .5rem;
}

select.dark-input.dark-input.with-label{
  -webkit-appearance: none;
  border-radius: 0;  
}

.loading-screen {
  background-color: var(--black);
  flex: 1;
  display: flex;
  justify-content: center;
  align-items: center;
}

.error-text {
  text-align: center;
  color: rgb(190, 13, 13);
}

.admin-layout-wrapper {
  display: flex;
}

.admin-header-content-wrapper {
  flex: 1;
}

.admin-nav {
  width: 200px;
  background-color: var(--dark-background);
  background: var(--dark-linear-gradient);
  top: 0px;
  position: fixed;
  height: 100%;
  z-index: 2;
  border-right: 1px solid rgb(37, 37, 37);
  display: none;
}

.admin-nav-button {
  padding: 1rem;
  color: var(--white);
  text-decoration: none;
}

.admin-nav-link.active > .admin-nav-button {
  background-color: var(--gold);
  color: var(--black);
}

.admin-nav-title {
  text-align: center;
  font-size: 1.5rem;
  color: var(--gold);
  padding: 1rem;
}

.donut-chart {
  -webkit-transform: rotate(-90deg);
  -moz-transform: rotate(-90deg);
  -o-transform: rotate(-90deg);
  -ms-transform: rotate(-90deg);
  transform: rotate(-90deg);
}
.donut-chart-title {
  font-size: 1.5rem;
  text-align: center;
  padding-bottom: 1rem;
}

.chart-title {
  font-size: 1.5rem;
  word-wrap: break-word;
  padding-bottom: .5rem;
  margin-bottom: .5rem;
  border-bottom: 1px solid var(--dark-placeholder);
}

.donut-chart-wrapper {
  display: flex;
  flex-direction: column;
  flex: 1;
  padding: 1rem;
  border-radius: 15px;
  margin: 1rem 0rem;
  align-items: center;
  min-height: 250px;
  background-color: var(--dark-background);
  background: var(--dark-linear-gradient);
}

.donut-charts-wrapper {
  display: flex;
  width: 100%;
  flex-wrap: wrap;
}

.donut-text {
  width: fit-content;
  position: relative;
  font-size: 1.5rem;
  bottom: 90px;
  margin: 0rem auto -2rem auto;
  z-index: 1;
}

.charts-wrapper {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  justify-content: center;
}

.donut-charts-sub-wrapper {
  width: 100%;
  display: flex;
  flex-direction: column;
}

.overview-lists-wrapper {
  display: flex;
  flex-wrap: wrap;
}

.dlc-incomplete-list {
  border-radius: 15px;
  padding: 1rem;
  margin: 1rem 0rem;
  width: 100%;
  background-color: var(--dark-background);
  background: var(--dark-linear-gradient);
}

.admin-list-items-container {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
}

.admin-chart-list-item {
  font-size: 1.1rem;
  padding: .2rem .4rem .2rem 0;
}

.gold-title {
  color: var(--gold);
}

.admin-nav-button-text {
  padding-left: 1rem;
}

.button-icon-wrapper {
  width: 25px;
  text-align: center;
}

.ets-table-container {
  padding: 2rem 1rem 3rem 1rem;
}

.ets-table {
  margin: auto;
  border-collapse:collapse;
  text-align:center;
  border-right: 1px solid rgb(62, 62, 62);
  border-left: 1px solid rgb(62, 62, 62);
  border-bottom: 1px solid rgb(62, 62, 62);
  width: 100%;
}

.ets-table-record > th {
  color: var(--gold);
  padding: 1rem 1rem;
  background-color: rgb(37, 37, 37);
}

.ets-table-record > td {
  padding: .4rem .5rem;
}

.ets-table-record > * {
  border-bottom: 1px solid rgb(62, 62, 62);
  border-top: 1px solid rgb(62, 62, 62);
}

td.ets-table-td-name {
  text-align: left;
  padding-left: .5rem;
}

.none-table-record {
  padding: 1rem;
  height: 50px;
  text-align: center;
  border-bottom: 1px solid rgb(62, 62, 62);
  border-right: 1px solid rgb(62, 62, 62);
  border-left: 1px solid rgb(62, 62, 62);
}

tr:nth-child(odd) {
  background-color: var(--dark-background);
}

tr.red-bcg {
  background-color: rgba(255, 0, 0, 0.232);
}

.hide-500, .hide-800 {
  display: none;
}

.centered-text {
  text-align: center;
}

/* checkbox switch styles */
.switch {
  position: relative;
  display: inline-block;
  width: fit-content;
  margin-right: .8rem;
}
.switch-input {
  display: none;
}
.switch-label {
  display: block;
  width: 35px;
  height: 15px;
  text-indent: -150%;
  clip: rect(0 0 0 0);
  color: transparent;
  user-select: none;
}
.switch-label::before,
.switch-label::after {
  content: "";
  display: block;
  position: absolute;
  cursor: pointer;
  margin-top: .1rem;
}
.switch-label::before {
  width: 100%;
  height: 15px;
  background-color: #791a1a;
  border-radius: 9999em;
  -webkit-transition: background-color 0.25s ease;
  transition: background-color 0.25s ease;
}
.switch-label::after {
  top: 0px;
  left: 0;
  width: 15px;
  height: 15px;
  border-radius: 50%;
  background-color: #fff;
  box-shadow: 0 0 2px rgba(0, 0, 0, 0.45);
  -webkit-transition: left 0.25s ease;
  transition: left 0.25s ease;
}
.switch-input:checked + .switch-label::before {
  background-color: #89c12d;
}
.switch-input:checked + .switch-label::after {
  left: 20px;
}
.inline-label {
  font-size: 1.1rem;
}
.inline-label:hover {
  cursor: pointer;
}
.switch-label-container {
  display: flex;
  padding: .5rem;
}
/* checkbox switch styles */

.select-wrapper {
  display: flex;
  flex-direction: column;
}

.select-custom-icon {
  width: fit-content;
  position: relative;
  top: -45px;
  left: 95%;
  margin-right: .3rem;
  margin-bottom: -20px;
  pointer-events:none;
}

.select-custom-icon:hover {
  cursor: pointer;
}

.select-custom-icon-reassign {
  width: fit-content;
  position: relative;
  top: -35px;
  left: 85%;
  margin-right: .3rem;
  margin-bottom: -20px;
  background-color: rgb(25, 25, 25);
  pointer-events: none;
}

.select-custom-icon-privileges {
  width: fit-content;
  position: relative;
  top: -22px;
  right: -85px;
  margin-right: .3rem;
  margin-bottom: -20px;
  background-color: rgb(25, 25, 25);
  pointer-events: none;
}

.school-list-item {
  display: flex;
}

.flex {
  display: flex;
}

.underline-white {
  border-bottom: 1px solid var(--white);
}

.font-size-md {
  font-size: 1.5rem;
}

.font-size-11 {
  font-size: 1.1rem;
}

.font-size-15 {
  font-size: 1.5rem;
}

.font-size-12 {
  font-size: 1.2rem;
}

.color-gold {
  color: var(--gold);
}

.flex-space-between {
  display: flex;
  justify-content: space-between;
}

.flex-align-center {
  align-items: center;
}

.color-white {
  color: var(--white);
}

.hover-gold:hover {
  color: var(--gold);
}

.hover-underline:hover {
  text-decoration: underline;
}

.italic {
  font-style: italic;
}

.margin-b-05 {
  margin-bottom: 0.5rem;
}

.margin-r-10 {
  margin-right: 1rem;
}

.margin-r-05 {
  margin-right: 0.5rem;
}

.padding-b-10 {
  padding-bottom: 1rem;
}

.padding-l-05 {
  padding-left: 0.5rem;
}

.padding-l-10 {
  padding-left: 1rem;
}

.padding-t-10 {
  padding-top: 1rem;
}

.padding-t-20 {
  padding-top: 2rem;
}

.padding-tb-05 {
  padding: .5rem 0rem;
}

.padding-tb-10 {
  padding: 1rem 0rem;
}

.padding-tb-15 {
  padding: 1.5rem 0rem;
}

.padding-tb-20 {
  padding: 2rem 0rem;
}

.color-dark-placeholder {
  color: var(--dark-placeholder);
}

.text-align-center {
  text-align: center;
}

.text-align-right {
  text-align: right;
}

.staff-select {
  padding: .2rem;
  background-color: rgb(25, 25, 25);
  border: none;
  color: var(--white);
  font-size: 1.1rem;
  -webkit-appearance: none;
  border-radius: 0;  
  position: relative;
}

.staff-select:focus {
  outline: none;
}

.privilege-form {
  background-color: rgb(25, 25, 25);
  padding: .5rem;
  align-items: center;
  border-radius: 7px;
}

.expand-form-button {
  background-color: transparent;
  border: none;
  color: var(--white);
}

.expand-form-button:hover {
  cursor: pointer;
  color: var(--gold);
}

.staff-user-name {
  background-color: rgb(25, 25, 25);
  padding: 10px;
  border-radius: 7px;
  margin: 0.4rem 0rem;
  align-items: center;
}

.staff-permission-list-title {
  position: relative;
}

.right-button {
  position: absolute;
  right: 10px;
  top: 6px;
}

.greyed-out-text {
  color: rgb(57, 57, 57);
}


@media only screen and (min-width: 350px) {
  .link-container {
    width: 300px;
  }

  .login-form {
    width: 300px;
  }

  .ets-table-record > td {
    padding: .4rem 1.2rem;
  }

  td.ets-table-td-name {
    padding-left: .5rem;
  }

  .donut-chart-wrapper {
    margin: 1rem;
  }

  .dlc-incomplete-list {
    margin: 1rem;
  }

  .primary-nav {
    font-size: 1rem;
  }

  .staff-permission-list-title {
    text-align: center;
  }

  .staff-select {
    width: 120px;
  }

  .select-custom-icon-privileges {
    right: -100px;
  }
}

@media only screen and (min-width: 450px) {
  .dlc-incomplete-list {
    min-width: 350px;
    margin: 1rem;
    flex: 1;
  }
}
@media only screen and (min-width: 500px) {
  .title-link-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }

  .comments-link {
    margin-right: 2rem;
  }

  .page-title {
    margin-left: 2rem;
  }

  .edit-button-container {
    margin-left: 2rem;
    margin-top: 0rem;
  }

  .user-form {
    width: 450px;
    align-self: center;
  }

  .admin-section {
    margin: 2rem 1rem;
    max-width: 500px;
    padding: 2rem;
  }

  .hide-500 {
    display: table-cell;
  }

  .ets-table-record > td {
    padding: .4rem 1.5rem;
  }

  td.ets-table-td-name {
    padding-left: .5rem;
  }

  .primary-nav {
    justify-content: flex-end;
  }

  .admin-list-items-container {
    flex-direction: row;
    
  }

  .admin-chart-list-item {
    width: 160px;
  }

  .staff-select {
    width: 180px;
  }

  .select-custom-icon-privileges {
    right: -160px;
  }

  .assign-form-button.permissions {
    margin: 0rem .3rem;
}
}

@media only screen and (min-width: 550px) {
.assign-form-inputs-container {
  flex-direction: row;
  }

  .expand-contract {
    margin-top: -100px;
  }
}


@media only screen and (min-width: 600px) {
  .add-comment-form {
    width: 550px;
    align-self: center;
  }
}

@media only screen and (min-width: 800px) {
  .sections-row {
    display: flex;
    justify-content: center;
  }

  .section-container {
    width: 350px;
    margin: 4rem;
  }

  .section-title {
    color: var(--gold);
  }

  .page-title {
    margin-left: 3rem;
    margin-bottom: 2rem;
  }

  .edit-button-container {
    margin-left: 3rem;
  }

  .small-image {
    display: block;
    margin: auto;
  }

  .small-image-wrapper {
    display: block;
  }

  .comments-link {
    margin-right: 4rem;
  }

  .user-container {
    background-color: var(--black);
    margin: 0rem;
    padding: .2rem;
  }

  .admin-nav {
    display: block;
  }

  .admin-header-content-wrapper {
    margin-left: 200px;
  }

  .charts-wrapper {
    justify-content: left;
  }

  .hide-800 {
    display: table-cell;
  }

  td.ets-table-td-name {
    padding-left: .5rem;
  }

  .ets-table-container {
    padding-top: 3rem;
  }
}

@media only screen and (min-width: 880px) {
  .donut-charts-sub-wrapper {
    flex-direction: row;
  }
}

@media only screen and (min-width: 900px) {
  .ets-table {
    font-size: 1.1rem;
  }

  .ets-table-record > th {
    padding: 1rem 2rem;
    font-size: 1.3rem;
  }

  .ets-table-record > td {
    padding: .4rem 1.5rem;
  }

  td.ets-table-td-name {
    padding-left: .8rem;
  }
}

@media only screen and (min-width: 1000px) {
  .all-comments-container {
    margin: 0 10vw;
  }

  .ets-table-record > td {
    padding: .6rem 2rem;
  }

  td.ets-table-td-name {
    padding-left: 1rem;
  }

  .ets-table {
    width: 90%;
  }

  .none-table-record {
    width: 90%;
    margin: auto;
  }
}

@media only screen and (min-width: 1500px) {
  .donut-charts-wrapper {
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
  }

  .donut-chart-wrapper {
    flex: 1;
  }

  .donut-charts-sub-wrapper {
    flex: 1;
  }
}