.pageTitle {
  color: var(--gold);
  margin-top: 1rem;
  margin-bottom: 1rem;
  font-size: 2rem;
}

.container {
  border-top: 1px solid rgb(44, 44, 44);
}

.questionContainer {
  padding: 3rem 1rem;
  max-width: 800px;
  margin: auto;
}

.questionText {
  font-size: 1.1rem;
  padding: 1rem 0;
  line-height: 1.5rem;
}

.optionsContainer {
  max-width: 800px;
  margin: auto;
}

.optionContainer {
  padding: 1rem;
  border: 1px solid transparent;
  background-color: rgb(28, 28, 28);
  margin: .8rem 0;
  border-radius: 10px;
}

.wrongGuess {
  /* color: red; */
  text-decoration: line-through;
  padding: 1rem;
  border: 1px solid red;
  background-color: rgb(28, 28, 28);
  margin: .8rem 0;
  border-radius: 10px;
}

.correctAnswer {
  /* color: green; */
  padding: 1rem;
  border: 1px solid green;
  background-color: rgb(28, 28, 28);
  margin: .8rem 0;
  border-radius: 10px;
}

.otherOption {
  color: grey;
  padding: 1rem;
  border: 1px solid transparent;
  background-color: rgb(28, 28, 28);
  margin: .8rem 0;
  border-radius: 10px;
}

.resultsSummaryText {
  padding: 2rem 0;
  font-size: 1.5rem;
  text-align: center;
}

.percentContainer {
  font-size: 5rem;
  text-align: center;
  padding: 2rem 0 3rem 0;
}

.questionsTitle {
  font-size: 1.5rem;
  padding: 1rem;
}

.buttonContainer {
  display: flex;
  justify-content: center;
  padding-top: 1rem;
  margin-bottom: 2rem;
}

.button {
  border: 1px solid var(--white);
  background-color: var(--black);
  color: var(--white);
  padding: .5rem;
  min-width: 105px;
  transition-duration: .3s;
  margin: 0 1rem;
}

.button:hover {
  cursor: pointer;
  background-color: var(--gold);
  color: var(--black);
  transform: scale(1.1);
  transition-duration: .3s;
  border: 1px solid var(--black);
}